/*  your css code here. If applicable */
.star {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  margin: 50px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid #f0f040;
  border-left: 50px solid transparent;
  transform: rotate(35deg);
}

.star::before {
  content: "";
  position: absolute;
  top: -22px;
  left: -32px;
  width: 0;
  height: 0;
  border-bottom: 40px solid #f0f040;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: rotate(-35deg);
}

.star::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -53px;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 35px solid #f0f040;
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
}